$speed:.2s;
$color:#2196f3;
$height: 25px;
$width: 50px;

[data-toggle] {
  width: $width;
  height: $height;
  position: relative;
  transition: background $speed;
  border-radius: 9999em;
  cursor:pointer;
}
[data-toggle] input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
}
[data-toggle] input[type='checkbox']:not(:checked)+div.inner {
  background-position: $height, 45px;
}
[data-toggle] div.inner {
  border-radius: 9999em;
  transition: background $speed;
  width: $width;
  height: $height;
  background-color: #ddd;
  background-image: radial-gradient(ellipse at center, #fff 0%, #fff 67%, transparent 69%), linear-gradient(to right, $color 0%, $color 100%);
  background-size: $height $height, 100% 100%;
  background-repeat: no-repeat;
}
