html,
body {
  height: 100%; }

.btn-group-pill {
  display: inline-block; }
[data-toggleswitch] input[type='checkbox'] {
  position: absolute;
  visibility: hidden; }

[data-toggleswitch] input[type='checkbox'] {
  position: absolute;
  visibility: hidden; }

[data-toggleswitch] input[type='checkbox']:not(:checked) + div.inner {
  background-position: 25px, 45px; }

[data-toggleswitch] div.inner {
  border-radius: 9999em;
  transition: background 0.2s;
  width: 50px;
  height: 25px;
  background-color: #ddd;
  background-image: radial-gradient(ellipse at center, #fff 0%, #fff 67%, transparent 69%), linear-gradient(to right, #2196f3 0%, #2196f3 100%);
  background-size: 25px 25px, 100% 100%;
  background-repeat: no-repeat; }

[data-toggleswitch].small input[type='checkbox']:not(:checked) + div.inner {
  background-position: 15px, 45px; }

[data-toggleswitch].small div.inner {
  width: 30px;
  height: 15px;
  background-size: 15px 15px, 100% 100%;
  background-repeat: no-repeat; }
#admin-toolbar {
  z-index: 9999;
  width: 100%;
  position: fixed;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #171717;
  margin-bottom: 0; }
  #admin-toolbar .navbar-nav > .open > a {
    background-color: rgba(255, 255, 255, 0); }
  #admin-toolbar .collapsing > ul > li,
  #admin-toolbar .collapse > ul > li {
    text-transform: uppercase;
    letter-spacing: 2px; }
    #admin-toolbar .collapsing > ul > li.active > a,
    #admin-toolbar .collapse > ul > li.active > a {
      background-color: rgba(255, 255, 255, 0);
      color: #fff; }
    #admin-toolbar .collapsing > ul > li .dropdown-menu,
    #admin-toolbar .collapse > ul > li .dropdown-menu {
      width: 100%;
      margin-top: -1px;
      border-radius: 0;
      background-color: #171717;
      letter-spacing: normal;
      text-transform: none; }
      #admin-toolbar .collapsing > ul > li .dropdown-menu > li > a,
      #admin-toolbar .collapse > ul > li .dropdown-menu > li > a {
        color: #9d9d9d; }
        #admin-toolbar .collapsing > ul > li .dropdown-menu > li > a:hover,
        #admin-toolbar .collapse > ul > li .dropdown-menu > li > a:hover {
          color: #fff;
          background-color: rgba(255, 255, 255, 0); }
      #admin-toolbar .collapsing > ul > li .dropdown-menu .divider,
      #admin-toolbar .collapse > ul > li .dropdown-menu .divider {
        height: 2px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0);
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHklEQVQYV2NkwAIY8Qr+///fl5GRcTNIEX6VyMYAANDMBAYBjpzVAAAAAElFTkSuQmCC"); }
  #admin-toolbar .navbar-user .dropdown-toggle {
    padding-top: 4px;
    padding-bottom: 4px; }
  #admin-toolbar .navbar-user .toolbar-username {
    line-height: 3;
    padding-right: 10px; }
  #admin-toolbar .navbar-user .toolbar-avatar,
  #admin-toolbar .navbar-user .toolbar-username {
    float: left; }
  #admin-toolbar .navbar-user .toolbar-avatar {
    background-size: cover;
    background-position: center;
    border-radius: 9999em;
    height: 40px;
    width: 40px;
    display: inline-block; }

#page-top .progress {
  transition: height .3s;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 0;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9999; }

#page-top .progress.active {
  height: 2px; }
