<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

        <template id="collections">
            <h1>Collections</h1>

            <div class="gridstack">
                
            </div>
        
        </template>
        <template id="photos">
            <h1>Photos</h1>

            <div class="gridstack">

            </div>
        </template>
        
    </body>
</html>